body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/** Estilo de encabezado **/
.encabezado {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3434869/cafetal2.jpg");
    height: 400px;
    background-position: center center;

}

.tostado {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
}

.tostado p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}

.tipos div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
}

.tipos p {
    color: #FFF;
    text-align: left;
    font-size: 14px;
}

/* Tipos de tostado */
.verde {
    background-color: rgb(168, 189, 163);
}

.ligero {
    background-color: rgb(121, 81, 65);
}

.ciudad {
    background-color: rgb(95, 73, 67);
}

.viena {
    background-color: rgb(73, 63, 60);
}

.italiano {
    background-color: rgb(44, 42, 42);
}

/* Tipos de letra */
h1 {
    color: rgb(53, 41, 38);
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    color: rgb(236, 213, 182);
}

h3 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color-text: rgb(100, 80, 82);
}

h4 {
    font-weight: 700;
    line-height: .2em;
}

h5 {
    line-height: .2em;
    font-weight: 300;
}

/* Elementos de la pagina */
ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}

li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
    }

.origenes li p {
    color: #6e6e6e;
    line-height: 32px;
    font-size: 16px;

}

.origenes{
    background-color: rgb(255, 255, 255);
}

a {
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(43, 86, 60);
    pointer-events: none;
    font-size: 14px;
    font-weight: bold;
}
