.productos {
    position: relative;
    line-height: 24px;
    white-space: pre-wrap;
    z-index: 0;
}
.bi {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 192px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    z-index: 1;
}
.productos-parent {
    width: 217px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 51px;
}
.proyectos {
    position: relative;
    line-height: 24px;
    z-index: 0;
}
.proyectos-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 81px;
}
.asesoramiento {
    position: relative;
    line-height: 24px;
}
.menu-lateral {
    position: absolute;
    top: 177px;
    left: 100px;
    width: 245px;
    height: 243px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    text-align: center;
}
.espaciopro1 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.03em;
    line-height: 24px;
    display: inline-block;
    width: 316px;
    height: 57px;
}
.espaciopro-wrapper {
    position: absolute;
    top: 51px;
    left: 53px;
    width: 316px;
    height: 57px;
    font-size: 48px;
    font-family: Inter;
}
.inicio {
    position: absolute;
    top: 0px;
    left: calc(50% - 234.5px);
    letter-spacing: 0.03em;
    line-height: 24px;
}
.contacto {
    position: absolute;
    top: 0px;
    left: calc(50% - 131.5px);
    letter-spacing: 0.03em;
    line-height: 24px;
}
.nosotros {
    position: absolute;
    top: 0px;
    left: calc(50% + 10.5px);
    letter-spacing: 0.03em;
    line-height: 24px;
}
.acceder {
    position: absolute;
    top: 0px;
    left: calc(50% + 151.5px);
    letter-spacing: 0.03em;
    line-height: 24px;
}
.menu-superior {
    position: absolute;
    top: 67px;
    left: calc(50% - 235px);
    width: 469px;
    height: 24px;
    font-size: 20px;
    font-family: Inter;
}
.globo-busqueda-child {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 15px;
    background-color: #fff;
    width: 214px;
    height: 31px;
}
.que-buscas-hoy {
    position: absolute;
    top: 5px;
    right: 98px;
    letter-spacing: 0.03em;
    line-height: 24px;
}
.search {
    position: absolute;
    top: 8px;
    left: 180px;
    scale: 1.5;

}
.globo-busqueda {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 214px;
    height: 31px;
}
.cart {
    position: absolute;
    top: 5px;
    right: 10px;
    scale: 2;
    color: #000;
}
.heart {
    position: absolute;
    top: 8px;
    right: 54px;
    scale: 2;
    color: #000;
}
.menu-carrito {
    position: absolute;
    top: 62px;
    right: 50px;
    width: 314px;
    height: 34px;
    font-size: 12px;
    color: #d4d2ce;
    font-family: Inter;
}
.descuento {
    margin: 0;
}
.mas-del-10-container {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.04em;
    line-height: 60px;
    font-weight: 600;
    text-shadow: 0px 6px 6px rgb(255, 255, 255);
    color: #000;
}
.comprar {
    position: absolute;
    top: 0px;
    left: calc(50% - 69.85px);
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    width: 94.8px;
    text-shadow: 0px 6px 6px rgb(255, 255, 255);
    color: #000;
}
.comprar-banner-child {
    position: absolute;
    top: 27.5px;
    left: calc(50% - 70.35px);
    border-top: 1px solid #000000;
    box-sizing: border-box;
    width: 140.7px;
    height: 1px;
}
.arrow {
    position: absolute;
    top: opx;
    bottom: 25%;
    left: calc(50% + 50.61px);
    scale: 1.5;

}
.comprar-banner {
    width: 139.7px;
    position: relative;
    height: 28px;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
}
.banner-promo {
    position: absolute;
    width: 58.85%;
    top: 158px;
    right: 14.06%;
    left: 27.08%;
    border-radius: 15px;
    box-sizing: border-box;
    height: 281px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 36px;
    gap: 21px;
    font-size: 48px;
    color: #000000;
    font-family: Inter;
    background-image: url(https://img.freepik.com/foto-gratis/reunion-negocios-representacion-3d-sala-trabajo-edificio-oficinas_105762-1972.jpg?t=st=1741813133~exp=1741816733~hmac=b514e8244dda0d8e03e59a0ec70a21b255d8af9003bb39a7aa12f902ceb6b486&w=2000);
    background-size: cover;
    background-position: center;
}
.banner-temporada-child {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #000;
    height: 50px;
}
.venta-de-verano {
    position: absolute;
    width: 32.36%;
    top: 14px;
    left: 37.71%;
    line-height: 21px;
    display: inline-block;
    height: 21px;
}
.banner-temporada {
    position: absolute;
    width: 100%;
    top: 501px;
    right: 0%;
    left: 0%;
    height: 50px;
    font-size: 14px;
    color: #fafafa;
}
.espaciopro-child {
    position: absolute;
    width: 85.94%;
    top: 632px;
    right: 7.03%;
    left: 7.03%;
    height: 50px;
}
.frame-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 4px;
    background-color: #db4444;
}
.semanal-inner {
    width: 20px;
    position: relative;
    height: 40px;
}
.esta-semana {
    position: relative;
    line-height: 20px;
    font-weight: 600;
}
.semanal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: #db4444;
}
.venta-flash {
    position: relative;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 40px;
    font-weight: 600;
    font-family: Inter;
}
.days {
    width: 31px;
    position: relative;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
}
.b {
    width: 46px;
    position: relative;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 30px;
    display: inline-block;
    font-family: Inter;
    height: 28px;
    flex-shrink: 0;
}
.days-parent {
    position: absolute;
    height: 100%;
    width: 15.23%;
    top: 0%;
    right: 84.77%;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.horas {
    width: 35px;
    position: relative;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
}
.b1 {
    position: relative;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 30px;
    font-family: Inter;
}
.horas-parent {
    position: absolute;
    height: 100%;
    width: 13.91%;
    top: 0%;
    right: 58.28%;
    bottom: 0%;
    left: 27.81%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-size: 11px;
}
.minutes {
    width: 49px;
    position: relative;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
}
.b2 {
    width: 39px;
    position: relative;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 30px;
    display: inline-block;
    font-family: Inter;
    height: 28px;
    flex-shrink: 0;
}
.minutes-parent {
    position: absolute;
    height: 100%;
    width: 16.23%;
    top: 0%;
    right: 29.47%;
    bottom: 0%;
    left: 54.3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.seconds {
    position: relative;
    line-height: 18px;
    font-weight: 500;
}
.seconds-parent {
    position: absolute;
    height: 100%;
    width: 16.89%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 83.11%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.div {
    position: absolute;
    height: 58%;
    width: 3.31%;
    top: 100%;
    left: 23.18%;
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
    color: #db4444;
    display: inline-block;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.div1 {
    position: absolute;
    height: 58%;
    width: 3.31%;
    top: 100%;
    left: 78.48%;
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
    color: #db4444;
    display: inline-block;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.div2 {
    position: absolute;
    height: 58%;
    width: 3.31%;
    top: 100%;
    left: 51%;
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
    color: #db4444;
    display: inline-block;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.cuenta-atras {
    width: 302px;
    position: relative;
    height: 50px;
    font-size: 12px;
}
.banner-venta-flash {
    position: absolute;
    width: 39.64%;
    top: 632px;
    right: 53.33%;
    left: 7.03%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 47px;
}
.view-all-products {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.boton-ofertas {
    position: absolute;
    top: 431px;
    left: calc(50% - 125.65px);
    border-radius: 4px;
    background-color: #db4444;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 48px 20px;
    box-sizing: border-box;
}
.b4 {
    position: relative;
    line-height: 18px;
}
.discount-percent {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    background-color: #db4444;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    
}
.agregar-al-carrito {
    position: absolute;
    top: 198px;
    left: 7px;
    border-radius: 4px;
    background-color: #db4444;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    height: 40px;
    width: 230px;
}


.discount-percent-parent {
    width: 270px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/foto-gratis/vida-muerta-silla-oficina-interior_23-2151108731.jpg?t=st=1741814926~exp=1741818526~hmac=0aea21ecf8dc219fcf2bb6173021129258bd4d5fe0cd0c085ab6daf42d8fc669&w=996);
    background-size: cover;
    background-position: center;
}
.discount-percent-parent-1 {
    width: 270px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/foto-gratis/vida-muerta-silla-oficina-interior_23-2151108699.jpg?t=st=1741814993~exp=1741818593~hmac=141ed27c9ce332fc0c679883573602786c962d85d4cb52f37598993bee9a812b&w=996);    
    background-size: cover;
    background-position: center;
}
.discount-percent-parent-2 {
    width: 270px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/foto-gratis/pequena-mesa-sillas_1339-3304.jpg?t=st=1741815113~exp=1741818713~hmac=f770c83b0ad24c833533d516db6a1a140703c17ee4f6697aed02088ea498b709&w=2000);
    background-size: cover;
    background-position: center;
}
.discount-percent-parent-3 {
    width: 270px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/foto-gratis/silla-oficina-es-naturaleza-muerta_23-2151149090.jpg?t=st=1741815264~exp=1741818864~hmac=0f2e7d6dc0ed8e5a52aaeca88738c784af856bc02738b3c4de0e534f2a0fbf91&w=996);
    background-size: cover;
    background-position: center;
}
.discount-percent-parent-4 {
    width: 270px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/foto-gratis/vida-muerta-silla-oficina-interior_23-2151108724.jpg?t=st=1741815321~exp=1741818921~hmac=5414bf059513173953cbf8a07d88f4ce76754004bbf7d216d7aea37e7d81fa2e&w=996);
    background-size: cover;
    background-position: center;
}
.b6 {
    position: relative;
    text-decoration: line-through;
    line-height: 24px;
    color: #000;
    opacity: 0.5;
}
.parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    color: #db4444;
}
.escritorio-ind-madera-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    color: #000;
}
.item-carrusel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.carrusel-fotos {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
    font-size: 12px;
}
.boton-ofertas-parent {
    position: absolute;
    top: 741px;
    left: calc(50% - 825px);
    width: 1650px;
    height: 491px;
    color: #fafafa;
}
.instance-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.bsqueda-por-categora {
    width: 447px;
    position: relative;
    font-size: 34px;
    letter-spacing: 0.04em;
    line-height: 48px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    display: inline-block;
    height: 48px;
    flex-shrink: 0;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 89px;
}
.categorias-banner {
    position: absolute;
    top: 1382px;
    left: 244px;
    background-color: #d4d2ce;
    width: 135px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    color: #db4444;
}
.sillas {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 20px);
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.categorias {
    width: 160px;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/vector-gratis/silla-plastico-rojo-aislado_1284-41858.jpg?t=st=1741817125~exp=1741820725~hmac=d51b119d82cea16681efedfbd9f365ac5b118cfb907804da5c778faa1c209ad5&w=1480);
    background-size: cover;
    background-position: center;
}
.categorias-1 {
    width: 160px;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/vector-gratis/mesa-plastico-blanca-vacia-aislada-sobre-fondo-blanco-plantilla-exhibicion-productos-tabla-vectorial-3d_90220-2601.jpg?t=st=1741817267~exp=1741820867~hmac=413e198b95e0c064859bec17dda826bb30714c4942cd6d6dd44f15f9b1b4465d&w=1480);
    background-size: cover;
    background-position: center;
}
.categorias-2 {
    width: 160px;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/vector-gratis/mesa-cocina-negra-rectangular-cuadrada_107791-28279.jpg?t=st=1741817513~exp=1741821113~hmac=183bba49ef326fe9f1700ceb7ea5d56e4f30ac02cc459c36fb4bfc15b1a36d39&w=2000);
    background-size: cover;
    background-position: center;
}
.categorias-3 {
    width: 160px;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/vector-gratis/vector-dos-taburetes-bar-madera-ocre-marron-asientos-cuero-negro-vista-frontal-aislada-sobre-fondo-blanco_1284-47292.jpg?t=st=1741817829~exp=1741821429~hmac=209fe1f1a53844dcb114fb5ba12e77411f736f27d6abbe128cdc591af0a0cff1&w=1480);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.categorias-4 {
    width: 160px;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/vector-gratis/interior-loft-realista_1284-19022.jpg?t=st=1741817930~exp=1741821530~hmac=883e5ed6ee399e3c9f5bfe1bb89e98f444f6f057b9b76a8b3d17da3efecde1cf&w=2000);
    background-position: center;
    background-size: cover;
}
.categorias-5 {
    width: 160px;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/vector-gratis/silla-oficina-blanca_1053-316.jpg?t=st=1741818020~exp=1741821620~hmac=45b29c15bbaa5d34013803fd7b612ceb4426ac9549895a2d435b268a6abdde61&w=1480);
    background-size: cover;
    background-position: center;
}
.mesas {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 26px);
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.escritorios {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 40px);
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.bancos {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 30px);
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.accesorios {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 44px);
    line-height: 24px;
    color: #000000;
    background-color: #ffffff; 
}
.sillones {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 32px);
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.categorias-carrusel {
    position: absolute;
    width: 63.54%;
    top: 1519px;
    right: 16.7%;
    left: 19.76%;
    background-color: #d4d2ce;
    height: 145px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
}
.exclusive {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: 0.03em;
    line-height: 24px;
}
.logo {
    width: 118px;
    position: relative;
    height: 24px;
}
.subscribe {
    position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: Poppins;
}
.en-tu-primera {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Poppins;
}
.frame-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.exclusivo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    font-family: Inter;
}
.support {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}
.bijoy-sarani-dhaka-container {
    width: 175px;
    position: relative;
    line-height: 24px;
    display: inline-block;
}
.bijoy-sarani-dhaka-dh-1515-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
}
.shop {
    position: relative;
    line-height: 24px;
    display: none;
}
.qr {

    position: relative;
    scale: 3.5;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.google {

    position: relative;
    scale: 1.5;
    left: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.apple {

    position: relative;
    scale: 1.5;
    left: 40px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.googleplay-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.qr-code-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redes {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.icon-facebook-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.exclusivo-parent {
    width: 1244px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 93px;
}
.copyright-all-r-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.6;
}
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.4;
    font-size: 16px;
    color: #fff;
}
.footer {
    position: absolute;
    width: 100%;
    top: 3113px;
    right: 0%;
    left: 0%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 338px;
    box-sizing: border-box;
    gap: 100px;
    font-size: 20px;
    color: #fafafa;
}
.service {

    position: relative;
    scale: 3;
}
.free-and-fast {
    position: center;
    line-height: 28px;
    font-weight: 600;
    
}
.free-delivery-for {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.free-and-fast-delivery-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.services-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.friendly-247-customer {
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}
.services-group {
    width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.caja-servicio {
    position: absolute;
    width: 47.86%;
    top: 2924px;
    right: 26.09%;
    left: 26.04%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 88px;
    font-size: 20px;
}
.centro-de-trabajo {
    position: relative;
    letter-spacing: 0.03em;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}
.madera-y-metal-container {
    width: 242px;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-family: Poppins;
    display: inline-block;
}
.underline-icon {
    width: 81px;
    position: relative;
    max-height: 100%;
    opacity: 0.5;
}
.comprar-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}
.frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.lanzamientos-inner {
    width: 534px;
    border-radius: 4px;
    border: 5px inset #bbb8ae;
    box-sizing: border-box;
    height: 668px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 32px;
    background-image: url(https://img.freepik.com/foto-gratis/interior-moderno-espacio-oficina_158595-5206.jpg?t=st=1741816047~exp=1741819647~hmac=8acd4e91e1c0f48d4d3da46b6e248e3aff4a0d9212b2dbecee8978df421a585f&w=2000);
    background-size: cover;
    background-position: center;
}
.un-toque-de-container {
    width: 255px;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-family: Poppins;
    display: inline-block;
}
.frame-parent2 {
    position: absolute;
    top: 138px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-wrapper1 {
    width: 570px;
    position: relative;
    border-radius: 4px;
    border: 5px inset #bbb8ae;
    box-sizing: border-box;
    height: 284px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(https://img.freepik.com/fotos-premium/interior-comedor-minimalista_1310085-73348.jpg?w=826);
    background-size: cover;
    background-position: center;
}
.frame-item {
    width: 196px;
    position: relative;
    height: 196px;
}
.nuevos-accesorios-de {
    width: 191px;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-family: Poppins;
    display: inline-block;
}
.lienzos-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.frame-parent4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.vector-parent {
    width: 246px;
    border-radius: 4px;
    border: 5px inset #bbb8ae;
    box-sizing: border-box;
    height: 284px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 25px;
    background-image: url(https://img.freepik.com/foto-gratis/vista-lateral-hombre-trabajando-proyecto_23-2149721877.jpg?t=st=1741815513~exp=1741819113~hmac=54336bb4f1ac7b36ada89acbbb0d7b277de396e402ae9c24e1c7d58c64a8debb&w=2000);
    background-size: cover;
    background-position: center;
}
.frame-inner {
    width: 238px;
    position: relative;
    height: 238px;
    z-index: 0;
}
.frame-parent5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.vector-group {
    width: 246px;
    border-radius: 4px;
    border: 5px inset #bbb8ae;
    box-sizing: border-box;
    height: 284px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 25px;
    background-image: url(https://img.freepik.com/foto-gratis/vista-superior-tableros-material-mdf_23-2149418545.jpg?t=st=1741815972~exp=1741819572~hmac=7aa1768557272a7c1dde33fafe10a0660405ead8cc1cfd16136cc82999158e57&w=996);
    background-size: cover;
    background-position: center;
}
.frame-parent3 {
    height: 327px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.lanzamientos {
    position: absolute;
    width: 60.94%;
    top: 2096px;
    right: 19.53%;
    left: 19.53%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    color: #fafafa;
    font-family: Inter;
}
.nuevos-lanzamientos {
    position: relative;
    font-size: 36px;
    letter-spacing: 0.04em;
    line-height: 48px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
}
.frame-parent6 {
    position: absolute;
    top: 1943px;
    left: 244px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 49px;
    color: #db4444;
}
.espaciopro {
    width: 100%;
    position: relative;
    background-color: #d4d2ce;
    height: 3513px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
}