#canvas{
    border: 3px solid rgb(32, 40, 56);
    background: rgb(17, 121, 107);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body